@media (min-width: 980px) and (max-width: 1100px) {

    .navbar-inverse .navbar-nav > li > a {
		padding: 30px 10px;
	}
	.navbar-inverse .navbar-nav > li {
		padding-right: 0;
	}
	.navbar-inverse.smaller ul li a {
		padding: 20px 11px;
	}
	#slitSlider .carousel-caption h2 {
		font-size: 60px;
	}
	.about {
		margin-bottom: 20px;
	}
	.about:last-child {
		margin-bottom: 0;
	}
	.icon-box {
	  padding: 25px 20px;
	}
	.device {
		height: 436px;
	}
	.counters-item {
		margin-bottom: 25px;
	}
	.counters-item > div {
		margin: 10px 0 20px;
	}
	.counters-item h3 {
		font-size: 23px;
	}
	.team-mate {
		margin-bottom: 30px;
	}
	.team-mate>h4 {
		margin-bottom: 10px;
	}
	.team-mate img {
		margin: 0 auto;
	}
	.member-info ul li {
		margin-right: 10px;
	}
	#contact-us {
		background-size: inherit;
	}
	#contact-form {
		width: 90%;
	}
}

@media (min-width: 768px) and (max-width: 979px) {

    .navbar-inverse .navbar-nav>li>a {
        padding: 30px 10px;
    }
    .navbar-inverse.smaller .navbar-nav>li>a {
        padding: 20px 10px;
    }
    .navbar-inverse .navbar-nav>li {
        padding-right: 0;
    }
    #slitSlider .carousel-caption h2 {
        font-size: 50px;
    }
	.icon-box {
	  margin: 0 auto;
	  width: 60%;
	}
	.about-content {
	  margin: 0 auto 40px;
	  padding: 0;
	  width: 60%;
	}
    .device {
        margin-bottom: 30px;
    }
    .device img {
        margin: 0 auto;
    }
    #counter {
        padding-bottom: 50px;
    }
    .counters-item {
        margin-bottom: 30px;
    }
	.service-block {
	  margin: 0 auto 40px;
	  width: 95%;
	}
	.team-mate {
	  margin: 0 auto 30px;
	  text-align: center;
	  width: 90%;
	}
    .team-mate>img {
        display: inline-block;
    }
    .pricing {
        margin-bottom: 30px;
    }
    #contact-us {
        background-position: 50% 0 !important;
        background-size: inherit;
    }
    #contact-form {
        width: 90%;
    }

}

@media only screen and (max-width: 767px) {

    .navbar-fixed-top {
        padding-bottom: 10px;
    }
    .navbar-inverse .navbar-toggle {
        border-color: #6CB670;
        border-radius: 0;
    }
    .navbar-inverse .navbar-toggle:hover {
        border-color: #fff;
        border-radius: 0;
    }
    .navbar-collapse.in {
        overflow-y: inherit;
    }
    .navbar-brand {
        padding: 10px 0 10px 10px;
    }
    .navbar-toggle {
        margin-top: 22px;
    }
    .navbar-inverse .navbar-nav>li>a {
        line-height: 45px;
        padding: 0;
        text-align: center;
        border-bottom: 1px solid transparent;
    }
    .navbar-nav {
        background-color: #282b34;
    }
    .navbar-inverse .navbar-nav>li>a.current, .navbar-inverse .navbar-nav>li>a:hover {
        background-color: #6CB670;
        border-bottom: 1px solid #fff;
        color: #fff;
    }
    .navbar-inverse .navbar-nav>li {
        padding-right: 0;
    }
    .navbar-inverse.smaller .navbar-nav>li>a {
        padding: 0;
    }
    .carousel-caption img {
        width: 70%;
    }
    #slitSlider .carousel-caption h2 {
        font-size: 25px;
        margin-bottom: 25px;
    }
    #slitSlider .carousel-caption h3 {
        font-size: 20px;
        margin-bottom: 25px;
    }
    #slitSlider .carousel-caption a {
        font-size: 14px;
    }
    .about-content {
        margin-bottom: 50px;
    }
	.wrap-about {
	  margin: 0 auto;
	  width: 85%;
	}
    .device {
        margin-bottom: 30px;
    }
    .device img {
        margin: 0 auto;
    }
    .counters-item {
        margin-bottom: 20px;
    }
    .service-block {
        margin: 0 auto 30px;
        width: 90%;
        position: relative;
        left: -8px;
    }	
	.team-mate {
		margin: 0 auto 31px;
		width: 80%;
	}
    .team-mate img {
        margin: 0 auto;
    }
    .member-info ul {
        text-align: center;
        margin-bottom: 10px;
    }
    .pricing {
        margin-bottom: 20px;
    }
    .note .btn-transparent {
        float: none;
    }
    #blog {
        padding-bottom: 0;
    }
    #contact-form {
        width: 90%;
    }
    .contact-info {
        width: 100%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

    .navbar-fixed-top {
        padding-bottom: 10px;
    }
    .navbar-brand {
        padding: 10px 0 10px 10px;
    }
    .navbar-inverse .navbar-toggle {
        border-color: #6CB670;
        border-radius: 0;
    }
    .navbar-inverse .navbar-toggle:hover {
        border-color: #fff;
        border-radius: 0;
    }
    .navbar-collapse.in {
        overflow-y: inherit;
    }
    .navbar-toggle {
        margin-top: 22px;
    }
    .navbar-inverse .navbar-nav > li > a {
        line-height: 45px;
        padding: 0;
        text-align: center;
        border-bottom: 2px solid transparent;
    }
    .navbar-nav {
        background-color: #282b34;
    }
    .navbar-inverse .navbar-nav > li > a.current,
	.navbar-inverse .navbar-nav > li > a:hover {
        background-color: #6CB670 !important;
        border-bottom: 2px solid #fff;
        color: #fff;
    }
    .navbar-inverse .navbar-nav>li {
        padding-right: 0;
    }
    .navbar-inverse.smaller .navbar-nav>li>a {
        padding: 0;
    }
	.carousel-caption img {
	  width: 50%;
	}
    #slitSlider .carousel-caption h2 {
        font-size: 30px;
    }
    #slitSlider .carousel-caption h3 {
        font-size: 25px;
    }
    #slitSlider .carousel-caption a {
        font-size: 14px;
    }
	.wrap-about {
	  margin: 0 auto;
	  width: 70%;
	}
    .counters-item {
        margin: 0 auto 25px;
		width: 60%;
    }
    .service-block {
        margin: 0 auto 40px;
        width: 65%;
    }
    .team-mate {
        margin: 0 auto 30px;
        text-align: center;
        width: 60%;
    }
    .team-mate img {
        margin: 0 auto;
    }
	.pricing {
		margin: 0 auto 40px;
		width: 70%;
	}
    #blog {
        padding-bottom: 0;
    }
    #contact-form {
        width: 90%;
    }
    .contact-info {
        width: 100%;
    }
}